#aboutMe
    .left
        h2 Обо мне
        .underline Практикую с 2005 года
    .text Детский психолог — специалист, занимающийся особенностями психики, коррекцией психологических травм, поведения, развитием способностей малышей и подростков. Психолог работает с психически здоровыми детьми, имеющими незначительные отклонения в поведении, мышлении, общении.