#services
    h2 Как проходят <br> консультации
    .plan 
        .point 
            h3 Первичная консультация
                hr
            .text Специалист проводит индивидуальные и групповые занятия с детьми, тестирует ребенка, беседует с ним и родителями.
        .point 
            h3 План терапии
                hr
            .text Специалист проводит индивидуальные и групповые занятия с детьми, тестирует ребенка, беседует с ним и родителями.
        .point 
            h3 Следующие консультации
                hr
            .text Специалист проводит индивидуальные и групповые занятия с детьми, тестирует ребенка, беседует с ним и родителями.
        .point 
            h3 Корректировка плана
                hr
            .text Специалист проводит индивидуальные и групповые занятия с детьми, тестирует ребенка, беседует с ним и родителями.