#about
    .topWrapper
        .text Детский психолог — специалист, занимающийся особенностями психики, коррекцией психологических травм, поведения, развитием способностей малышей и подростков. Психолог работает с психически здоровыми детьми, имеющими незначительные отклонения в поведении, мышлении, общении.
    .aboutCardsWrapper 
        .card 
            img(src="../../website/assets/images/brain.svg", alt="")
            h3 Преимущество 1
                hr
            .text Специалист проводит индивидуальные и групповые занятия с детьми, тестирует ребенка, беседует с ним и родителями.
        .card 
            img(src="../../website/assets/images/brain.svg", alt="")
            h3 Преимущество 2
                hr
            .text Специалист проводит индивидуальные и групповые занятия с детьми, тестирует ребенка, беседует с ним и родителями.
        .card 
            img(src="../../website/assets/images/brain.svg", alt="")
            h3 Преимущество 3
                hr
            .text Специалист проводит индивидуальные и групповые занятия с детьми, тестирует ребенка, беседует с ним и родителями.