#callback
    .callbackWrapper 
        h2 Запишитесь на консультацию
        .underline Первая консультация  <span> со скидкой 10%</span>
        form(action="submit")
            input(type="name" name="name" placeholder="Ваше имя")
            input(type="text" name='childName' placeholder="Имя вашего ребенка")
            input(type="number" name="age" placeholder="Возраст ребенка")
            input(type="phone" name="phone" pattern="[+7]-([0-9]{3})-[0-9]{3}-[0-9]{4}" placeholder="Ваш телефон")
            button(type="submit") Заказать консультацию
