#cards
    .cardsWrapper 
        .card 
            .discount -10%
            h3 Первая консультация
            .text Первая встреча очень важна и для меня,<br>и для моего клиента. Мы осторожно обсудим,<br>где требуется моя помощь и наладим контакт.
            .price
                .new 2 500 р.
                .old 2 800 р.
            button Записаться
        .card
            h3 Повторные консультации
            .text Все последующие консультации мы работаем по <br> разработанному плану терапии, внося в него <br> соевременные изменения в процессе прогресса.
            .price
                .new 2 800 р.