#cards
    h2 Я помогу, если <br> у вашего ребенка...
    .cardsWrapper 
        .card
            img(src="assets/images/depression.png", alt="")
            h3 Депрессия
            a(href="html/article.html") подробнее
        .card
            img(src="assets/images/isolation.png", alt="")
            h3 Замкнутость
            a(href="html/article.html") подробнее
        .card
            img(src="assets/images/bipolar.png", alt="")
            h3 Биполярное расстройство
            a(href="html/article.html") подробнее
        .card
            img(src="assets/images/insomnia.png", alt="")
            h3 Бессонница
            a(href="html/article.html") подробнее
        .card
            img(src="assets/images/depression.png", alt="")
            h3 Депрессия
            a(href="html/article.html") подробнее
        .buttonCallback
            h3 ... эти или другие <br> проблемы, мешающие нормальной жизни
            p Заказать консультацию
