#citate
    img.marks(src="assets/images/quoteMarks.svg", alt="")
    .textWrapper
        .quote Страхи вырастить неженку, которая не сможет справиться с жизненными невзгодами, необоснованны. Нам кажется, что тот, кто закален невзгодами с детства, будет лучше справляться с ними и потом. Но это не так.
        .text Александра Иванова, детский психолог
    .portrait 
        img(src="assets/images/quotePortrait.png", alt="")
        img(src="assets/images/quoteLines.svg", alt="")