#footer
    hr
    .footerNav
        .logo 
            img(src="assets/images/logo.svg", alt="")
        ul.navitems.text
            li.navitem.active
                a(href="index.html") Я помогу
            li.navitem 
                a(href="html/offline.html") Услуги
            li.navitem 
                a(href="html/about.html") Обо мне
            li.navitem 
                a(href="html/contacts.html") Контакты
        .contacts
            span.phone +7 (999) 999 99 99
            span.mail hello@ivanova-psy.ru