#callback
    .callbackWrapper 
        h2 Остались вопросы? <br> Напишите мне
        form(action="submit")
            input(type="name" name="name" placeholder="Ваше имя")
            input(type="mail" name='childName' placeholder="Ваш e-mail")
            |<textarea placeholder="Ваш вопрос" name="question" style="resize: none;"></textarea>
            button(type="submit") Отправить
