#header
    .hero
        .description
            h1 Привет,<br>я детский психолог<br>Александра Иванова
            p.underline Я помогаю детям и их родителям<br>с 2005 года
        .picture 
            img(src="assets/images/headerAbout2.png", alt="")
            img(src="assets/images/headerAbout.png", alt="")