head
    title kanki music 覺ll覺l覺.覺
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")
    link(rel="icon" type="image/x-icon" href="assets/images/favicon.ico")
    link(rel="stylesheet" href="/styles/main.min.css")
    //- link(rel="stylesheet" href="/frameworks/owl.carousel.css")
    //- script(src="/frameworks/jquery.js")
    //- script(src="/frameworks/owl.carousel.js")
    script(src="/frameworks/main.js")
    script(src="/js/bundle.min.js")