#header 
    .headerWrapper 
        .about 
            img(src="assets/images/aboutArticle.png", alt="")
            .text Александра Иванова
            .underline Психолог, автор статьи
        h2 Депрессия это<br>не плохое настроение
        img(src="assets/images/depression.png", alt="")
    .text Детский психолог — специалист, занимающийся особенностями психики, коррекцией психологических травм, поведения, развитием способностей малышей и подростков. Психолог работает с психически здоровыми детьми, имеющими незначительные отклонения в поведении, мышлении, общении.