header 
    .logo 
        img(src="/assets/images/svg/kanki.svg", alt="")
    .title 歓喜
        img(src="/assets/images/svg/music.svg", alt="")
    .shoppingbag
        img(src="/assets/images/svg/shoppingBag.svg", alt="")