#nav 
    .logo 
        img(src="../../website/assets/images/logo.svg", alt="")
    .contacts
        span.phone +7 (999) 999 99 99
        span.mail hello@ivanova-psy.ru
    ul.navitems.text
        li.navitem
            a(href="../../website/index.html") Я помогу
            img(src="../../website/assets/images/outline 1.svg", alt="")
        li.navitem 
            a(href="../../website/html/offline.html") Услуги
            img(src="../../website/assets/images/outline 1.svg", alt="")
        li.navitem 
            a(href="../../website/html/about.html") Обо мне
            img(src="../../website/assets/images/outline 1.svg", alt="")
        li.navitem 
            a(href="../../website/html/contacts.html") Контакты
            img(src="../../website/assets/images/outline 1.svg", alt="")