#header
    h2 Контакты
    .contactsWrapper
        .col 
            h3 Кабинет в Москве
                hr
            .text ул. Тверская, дом 123, подъезд 3, офис 21
        .col 
            h3 +7 999 999 99 99
                hr
            .text hello@ivanova-psy.ru
        .col 
            button(href="#callback") Задать вопрос