#header
    .hero
        .description
            h1 Детский психолог <br> Александра Иванова
            p.underline Я помогу вашему ребенку найти путь <br> к гармонии с собой и с миром   
        .picture 
            img(src="assets/images/headerServices.png", alt="")
        .btnWrapper
            button Записаться