#header
    .hero
        .description
            h1 Детский психолог <br> Александра Иванова
            p.underline Я помогу вашему ребенку найти путь <br> к гармонии с собой и с миром   
        .picture 
            img(src="https://s3-alpha-sig.figma.com/img/c534/27c1/8cffcb24a2f45603b0fdf695c1b4445a?Expires=1672617600&Signature=A9eEbSX5daMvBFMoAq8KY6UNehki9V881AGRadgaiSamZRk9M9W4Aear6qfMOghsgHFUh0sxgYFVMTqNOPxtEGCvcj-tFdfQyiaYNPvAt5XaIjVduV5KtLpKidY17-aaNizUxcME0BOb8EGQhJrsJfePrnOeS3LH0gMboixqYWKYL0f~egMWrhqBBX5Ty8mE7UZ1WXZUQBCTkpiJEPLA0lCrffJEcn95BFP0qveQo~XYzQ4KbzUGBCyqwFNkA~E~b5EXYKlwmiDl7MQV61MVMuv9Cup~ri8883Azus4B8yZnAKTDzqDPBxixFwLcby~Y4R4CNOvN0LkMNg7R5C-1wg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4", alt="")
        .callbackWrapper
            input(type="name" placeholder="Ваше имя")
            .splitter
            input(type="name" placeholder="Имя ребенка")
            .splitter
            input(type="number" placeholder="Ваш телефон")
            input(type="button" value='Заказать консультацию')