#services
    h2 Мои услуги
    .underline Мои клиенты отмечают улучшение качества жизни <br> уже после второго сеанса
    .bigCardsWrapper
        .card 
            img(src="assets/images/online.png", alt="")
            h3 Онлайн консультации
            .text Вы можете быть в любом комфортном <br> для вас месте. Вам понадобится интернет, <br> ноутбук или смартфон и свободное время.
            a Подробнее
        .card 
            img(src="assets/images/offline.png", alt="")
            h3 Личные встречи
            .text Вам надо будет приезжать в уютный кабинет <br> в назначенный день и время. Здесь вас <br> ничего не будет отвлекать.
            a Подробнее