@font-face 
    font-family: Messiri
    src: url(../assets/fonts/ElMessiri-VariableFont_wght.ttf)

@font-face
    font-family: Respublicana
    src: url(../assets/fonts/Respublicana-Black.otf)

@font-face
    font-family: Mulish
    src: url(../assets/fonts/Mulish-VariableFont_wght.ttf)