@font-face 
    font-family: Inter
    src: url(../assets/fonts/Inter.ttf)

@font-face 
    font-family: Uni
    src: url(../assets/fonts/Uni.otf)

@font-face 
    font-family: Barcode
    src: url(../assets/fonts/Barcode.ttf) 
