@import 'setup'
@import 'fonts'

@media screen and (min-width: 1200px)
    body
        overflow: hidden
        margin: 0
    .content
        padding: 0
        margin: 0
        height: 100vh
        width: 100vw
        overflow: hidden
        .contentbackground
            position: absolute
            padding: 0
            margin: 0
            top: 0
            left: 0
            background: url('/assets/images/background.png') center center/cover no-repeat 
            height: 100vh
            width: 100vw
            filter: blur(5px)
        .wrapper
            background: #000
            position: relative
            margin: 0 auto
            height: 100vh
            max-width: 1440px
            width: 100%
            box-shadow: 0px 0px 80px 80px #000000
        header
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            height: 50px
            background: #000
            border-bottom: 1px solid #fff
        .logo
            display: flex
            position: relative

            img
                vertical-align: middle
                height: 35px
        .title
            left: 50%
            transform: translateX(-50%)
            display: inline-block
            position: absolute
            font-family: Inter
            color: #fff
            vertical-align: middle
            font-size: 30px
            img
                vertical-align: middle
                height: 40px
        .shoppingbag
            display: inline-block
            position: relative
            img
                margin-right: 13px
                height: 40px
        .sliderHeader
            height: 50px
            width: 100%
            display: flex
            flex-direction: row
            position: relative
        .sliderBody
            overflow: hidden
        .filter
            font-size: 30px
            line-height: 50px
            height: 50px
            color: #fff
            cursor: pointer
            &::after
                content: '▼'
                color: #fff
                font-size: 16px
                line-height: 16px
                position: absolute
                top: 50%
                left: 0%
                transform: translate(235px,-50%)
                font-family: Inter
                text-transform: uppercase
                cursor: pointer
                transition: .3s
            &:hover::after
                transform: translate(235px,calc(-50% + 2px))
        .query
            display: inline
            margin: 12px 15px 5px auto
            .queryInput
                margin-top: 4px
                margin-right: 5px
                position: relative
                top: 0
                transition: .3s
                outline: none
                border: none
                border-bottom: 2px solid #fff0
                background: none
                width: 260px
                color: #fff
                font-size: 30px
                line-height: 30px
                font-family: Inter
                text-transform: uppercase
                transform: translate(-10px,-10px)
                &::placeholder
                    transition: .3s
                    color: #fff8
                &:not(:focus)
                    &::placeholder
                        color: #fff0
                
        .arrows
            position: absolute
            width: 100%
            height: 500px
            transform: translate(0,-100%)
            display: flex
            justify-content: space-between
            .left,.right
                cursor: pointer
                width: 34px
                height: 100%
                background: url('/assets/images/SVG/arrow.svg') center center/cover no-repeat 
                transition: .3s
            
            .left
                transform: translateX(-30px) rotateZ(180deg)
                &:hover
                    transform: translateX(-35px) rotateZ(180deg)
            .right
                transform: translateX(30px)
                &:hover
                    transform: translateX(35px)


        .maginifyingGlass
            transform: translateY(-5px)
            width: 30px
            height: 30px
            cursor: pointer
        .elementsWrapper
            display: flex
            flex-direction: row
            justify-content: space-between
        .elementWrapper
            width: 260px
            height: 500px
            .top
                overflow: hidden
                cursor: pointer
                position: relative
                width: 100%
                height: 390px
                background: #000
                border: 3px solid #fff
                img
                    position: absolute
                    top: -1%
                    left: -1%
                    width: 102%
                    height: 102%
                .name
                    text-align: center
                    letter-spacing: 0.135em
                    position: absolute
                    bottom: 0
                    color: #000
                    background: #fffa
                    opacity: 1
                    backdrop-filter: blur(5px)
                    width: 100%
                    height: 130px
                    font-size: 60px
                    line-height: 86px
                    font-family: Inter
                    font-weight: bolder
                    text-transform: uppercase

                .japanese 
                    width: 96px
                    height: 48px
                    background: #000
                    position: absolute
                    bottom: 0
                    color: #fff 
                    font-size: 24px
                    text-align: center
                    line-height: 48px
                    letter-spacing: 0.135em
                .tags
                    height: 48px
                    position: absolute
                    bottom: 0
                    left: 96px
                    padding-top: 3px 
                    padding-left: 3px 
                    color: #000
                    background: transparent
                    font-weight: bolder
                    font-family: Uni
                    font-weight: 900
                    line-height: 92%
                    font-size: 16px
                    letter-spacing: 0.15em
                    text-transform: uppercase
                br::last-child
                    display: none
                
            .bottom
                cursor: pointer
                display: flex
                flex-direction: row
                justify-content: space-between
                align-items: center
                margin-top: 20px
                width: 100%
                height: 90px
                background: #000
                border: 3px solid #fff
                *
                    display: inline
                    color: #fff
                    font-size: 40px
                    font-family: arial
                    padding: 16px
                    padding-right: 0
                .price
                    font-family: Uni
                    &::after
                        font-family: Uni
                        content: '$'
                .barcode
                    padding: 10px 8px 0 0
                    &::after
                        font-family: 'barcode font'
                        font-style: normal
                        font-weight: 400
                        font-size: 64px
                        line-height: 66px
                        content:'add to cart'
                        display: inline
        .strokeWrapper
            width: 100%
            overflow: hidden
            .stroke
                animation: stroke 2s linear 0s infinite normal none
                background: url('/assets/images/stroke2.png') center center/cover no-repeat 
                width: 1740px
                height: 50px
                margin-top: 28px
                position: relative

            @keyframes stroke
                0%
                    transform: translateX(0)
                100%
                    transform: translateX(-200px)
        
