@import 'setup'
@import 'fonts'
*
  box-sizing: border-box

.logo
  cursor: default
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50.5%, -50%) scale(0.97, 1)
  z-index: 100
  font-size: 18vw
  letter-spacing: -.6vmin

  &::after
    position: absolute
    font-size: 5vmin
    letter-spacing: 0px
    position: absolute
    bottom: calc(-30vh + 3vw)
    left: 50%
    transform: translate(-50.5%, 0)
    content: 'scroll down'

@media (hover: none) and (pointer: coarse)
  .logo::after
    content: 'swipe left'

html
  position: relative
  height: 100%

body
  position: relative
  height: 100%
  background: #eee
  font-family: kanki
  font-size: 14px
  background: #000
  margin: 0
  padding: 0
  overflow: hidden

spline-viewer
  position: absolute
  width: 100vw
  height: 100vh
  top: 50%
  left: 50%
  transform: translate(-50%, -50%) scale(1.2)
  filter: saturate(1.1)

swiper-container
  width: 100%
  height: 100%

swiper-slide
  text-align: center
  font-size: 18px
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden

  img
    display: block
    width: 100%
    height: 100%
    object-fit: cover

.swiper-v
  background: none
  color: #fff
  overflow: hidden

.swiper-h, .mainContent
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  overflow: hidden

.elementWrapper
  filter: invert(1)
  width: 80vw
  height: 18vh
  display: flex

  .top
    filter: invert(1)
    cursor: pointer
    position: relative
    width: 75%
    height: 100%
    background: #000
    border: 3px solid #fff
    overflow: hidden

    img
      position: absolute
      width: 100%
      height: initial
      max-width: 100%
      position: absolute
      top: -30vmin
      left: 0px

    .name
      display: none
      text-align: center
      letter-spacing: -.2vmin
      position: absolute
      bottom: 0
      color: #000
      background: #fffa
      opacity: 1
      backdrop-filter: blur(5px)
      width: 100%
      font-size: 4vmin
      line-height: 4vmin
      font-family: kanki

    .rating
      width: 96px
      height: 48px
      background: #000
      position: absolute
      bottom: 0
      color: #fff
      font-size: 24px
      text-align: center
      line-height: 48px

    .link
      display: table-cell
      height: 48px
      background: #fffa
      opacity: 1
      backdrop-filter: blur(5px)
      position: relative
      bottom: calc(-18vh + 54px)
      z-index: 100
      left: 96px
      padding: 0 5px
      color: #000
      font-family: kanki
      line-height: 3vmin
      font-size: 3vmin
      vertical-align: middle
      letter-spacing: -.1vmin
      text-transform: uppercase

  .bottom
    filter: invert(1)
    cursor: pointer
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    width: 25%
    height: 100%
    background: #000
    border: 3px solid #fff
    white-space: nowrap

    *
      display: inline
      color: #fff
      font-size: 5vmin
      font-family: kanki
      padding: 0 12px 14px 12px
      white-space: nowrap
      margin-top: auto

    .barcode
      padding: 0px 12px 0 12px
      margin-top: 0 !important
      margin-bottom: 100%

      &::after
        font-family: 'barcode font'
        content: 'add to cart'
        font-size: 7vmin
        display: inline

@media (min-width: 1024px)
  .swiper-h, .mainContent
    flex-direction: column-reverse

  .elementWrapper
    filter: invert(1)
    width: 260px !important
    height: 500px !important
    display: flex
    flex-direction: column

    .top
      filter: invert(1)
      cursor: pointer
      position: relative
      width: 100% !important
      height: 390px !important
      background: #000
      border: 3px solid #fff

      img
        position: absolute
        width: 100% !important
        height: 100% !important
        top: 0

      .name
        display: block
        text-align: center
        letter-spacing: -.2vmin
        position: absolute
        bottom: 0
        color: #000
        background: #fffa
        opacity: 1
        backdrop-filter: blur(5px)
        width: 100%
        height: 130px
        font-size: 8vmin
        line-height: 8vmin
        font-family: kanki

      .rating
        width: 96px
        height: 48px
        background: #000
        position: absolute
        bottom: 0
        color: #fff
        font-size: 24px
        text-align: center
        line-height: 48px

      .link
        position: absolute
        bottom: 0
        z-index: 100
        left: 96px
        padding: 1vmin 3px 0 3px
        color: #000
        background: transparent
        font-family: kanki
        line-height: 100%
        font-size: 3vmin
        letter-spacing: -.1vmin
        text-transform: uppercase

    .bottom
      filter: invert(1)
      cursor: pointer
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      margin-top: 20px
      width: 100%
      height: 90px
      background: #000
      border: 3px solid #fff

      *
        display: inline
        color: #fff
        font-size: 40px
        font-family: kanki
        padding: 16px

      .barcode
        padding: 0
        margin-bottom: 0

        &::after
          font-family: 'barcode font'
          content: 'add to cart'
          font-size: 60px
          padding: 0 12px 0 0
          display: inline

.tiktok
  cursor: default
  width: 100vw
  mix-blend-mode: difference
  font-size: 8vmin
  z-index: 100

  span
    &:nth-child(1)
      padding-right: 5px
      mix-blend-mode: difference
      text-align: right
      display: inline-block
      color: #000
      background: #fff
      width: 50vw

    &:nth-child(2)
      padding-left: 5px
      mix-blend-mode: difference
      text-align: left
      display: inline-block
      color: #fff
      background: #000
      width: 50vw
