|<!DOCTYPE html>
html
    include includes/head.pug
    body
        .content
            include includes/headerNav.pug
            #content.main
                include includes/headerMain.pug
                include includes/cardsMain.pug
                include includes/servicesMain.pug
                include includes/aboutMain.pug
                include includes/callbackMain.pug
                include includes/footerMain.pug