|<!DOCTYPE html>
html
    include includes/head.pug
    body
        .content
            .contentbackground
            .wrapper
                include includes/header.pug
                include includes/mainSlider.pug
                include includes/secondSlider.pug
                include includes/shoppingBag.pug
                