|<!DOCTYPE html>
html
    include ../includes/head.pug
    body
        .content
            include ../includes/headerNav.pug
            #content.about
                include ../includes/headerAbout.pug
                include ../includes/aboutAbout.pug
                include ../includes/servicesAbout.pug
                include ../includes/sliderAbout.pug
                include ../includes/footerMain.pug