|<!DOCTYPE html>
html
    include ../includes/head.pug
    body
        .content
            include ../includes/headerNav.pug
            #content.article
                include ../includes/headerArticle.pug
                include ../includes/articleArticle.pug
                include ../includes/footerMain.pug