|<!DOCTYPE html>
html
    include ../includes/head.pug
    body
        .content
            include ../includes/headerNav.pug
            #content.contacts
                include ../includes/headerContacts.pug
                include ../includes/mapContacts.pug
                include ../includes/formContacts.pug
                include ../includes/footerMain.pug
