|<!DOCTYPE html>
html
    include ../includes/head.pug
    body
        .content
            include ../includes/headerNav.pug
            #content.offline
                include ../includes/headerOffline.pug
                include ../includes/cardsOnline.pug
                include ../includes/aboutServices.pug
                include ../includes/citate.pug
                include ../includes/aboutMeServices.pug
                include ../includes/sliderAbout.pug
                include ../includes/callbackMain.pug
                include ../includes/footerMain.pug